ExoPlayer
abc
logs
.repo
boottime
abi
android-patchsets
art
bionic
bootable
build
build-info
cts
dalvik
developers
development
device
docs
external
frameworks
hardware
kernel
libcore
libnativehelper
Makefile
ndk
optee
out
packages
pdk
prebuilts
sdk
system
ti
tools
uefi
vendor
vexpress-firmware
android-tools/apks
android-tools/static-binary/src/bin
build*.log
sync*.log
toolchain/
time.log
linaro-hikey-20160226-67c37b1a.tgz
platform_testing/
Android.bp
bootstrap.bash
kernel-3.18/
clang-src/
android-tools/benchmarks/
android-build-configs/
compatibility/
test
